body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: right;
}

nav li a {
	display: block;
	color: goldenrod;
	text-align: center;

	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: black;
}


.logo img {
	width: 100px;
	float: left;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(15, 12, 12);
	text-shadow: 1px 1px 2px gray;
}

.parallax:nth-child(even) {
	background-color: black;
}
