* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(30, 27, 27);
  color: goldenrod;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo img {
  width: 70px;
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
.nav-flex {
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 2rem;
  margin-right: 40px;
}

.nav-link {
  text-decoration: none;
  color: goldenrod;
  padding: 10px;
}

.nav-link:hover {
  text-decoration: underline;
  ;
}

.background-image {
  height: 400px;
  background: url(img/hand-and-phone.jpeg) no-repeat top/cover;
} 

.hero-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
h2 {
	font-size: 100px;
  height: 10px;}
.cards {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.card1 {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  background: url(img/school.jpeg) no-repeat center/cover;
}
.card2 {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  background: url(img/family.jpeg) no-repeat center/cover;
}
.card3 {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  background: url(img/busines.jpeg) no-repeat right/cover;
}

.card4 {
  display: flex;
  width: 300px;
  height: 400px;
  background: url(img/Apple-iPhone-11-Black-800x800.png) no-repeat;
}

.card5 {
  display: flex;
  width: 300px;
  height: 400px;
  background: url(img/samsung-galaxy-s22-black-1-800x800.png) no-repeat;
}
.card6 {
  display: flex;
  width: 300px;
  height: 400px;
  background: url(img/samsung-galaxy-s23-green-1-800x800.png) no-repeat;
}
.card7 {
  display: flex;
  width: 300px;
  height: 400px;
 
  background: url(img/xiaomi-redmi-note-11-grey-1-800x800.png) no-repeat;
}
.card8 {
	display: flex;
	width: 400px;
	height:500px;
   
	background: url(img/flip.png) no-repeat;
  }
.card9 {
	display: flex;
	width: 400px;
	height: 500px;
   
	background: url(img/apk_mymtc_home_mai-transformed.png) no-repeat center/cover;
  }
.buttons {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #2f3640;
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 10px goldenrod;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: goldenrod;
  color: #2f3640;
  border-color: #2f3640;
  box-shadow: 2px 2px 20px #2f3640;
  transform: translateY(-2px);
}

.belt-secton {
	no-repeat center/cover;
  
}
/* Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


/*  Styling  */
#logos-home-page .slider {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#logos-home-page .slider:before,#logos-home-page .slider:after {
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
#logos-home-page .slider:after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

#logos-home-page .slider:before {
		left: 0;
		top: 0;
	}
	#logos-home-page .slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
#logos-home-page div.slide {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 375px) {}
  
@media (min-width: 376px) and (max-width: 425px) {}
  
@media (min-width: 426px) and (max-width: 768px) {}
  
@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1440px) {}
  
@media (min-width: 1441px) {}
